.root {
    -fx-background-color: #FFFFFF;
    -fx-border-color: black;
    -fx-border-width: 0.1;
}

.filled1 {
    -fx-background-color: #FFEB3B;
}

.filled2 {
    -fx-background-color: #E91E63;
}

.filled3 {
    -fx-background-color: #9C27B0;
}

.filled4 {
    -fx-background-color: #3F51B5;
}

.filled5 {
    -fx-background-color: #2196F3;
}

.filled6 {
    -fx-background-color: #4CAF50;
}

.filled7 {
    -fx-background-color: #CDDC39;
}

.filled8 {
    -fx-background-color: #F44336;
}

.filled9 {
    -fx-background-color: #FF9800;
}

.filled10 {
    -fx-background-color: #795548;
}

.filled11 {
    -fx-background-color: #FFC107;
}

.filled12 {
    -fx-background-color: #009688;
}